zone "$$DOMAIN$$" {
	type master;
	file "/home/upsmart/github/Project-UpSmart/wordpress/wp-content/plugins/upsmart_sitemanager/bind/$$DOMAIN$$.hosts";
	allow-transfer {
		75.127.14.195;
	};
	also-notify {
		75.127.14.195;
	};
	notify yes;
};
