.entry-title {
	margin-bottom: 12pt;
}

.company-listing {
	text-align: center;
	padding-left: 5px;
	width: 33%;
	width: calc(33% - 5px);
	width: -moz-calc(33% - 5px);
	width: -webkit-calc(33% - 5px);
	float: left;
}
.company-listing  .image-link>img {
	max-width: 150px;
	max-height: 150px;
}
.company-listing:not(:last-child) {
	border-right: 1px solid #EEE;
}

.company-page-title {
	font-size: 2em;
}
#company-logo {
	max-width: 100px;
	max-height: 100px;
	display: block;
	margin: 0 auto;
}
#company-slogan {
	font-style: italic;
	text-align: center;
}
#company-sections >div {
	width: 33%;
	width: calc(33% - 20px);
	width: -moz-calc(33% - 20px);
	width: webkit-calc(33% - 20px);
	padding: 5px 10px;
	float: left;
}
#company-sections>div:not(:last-child) {
	width: calc(33% - 21px);
	width: -moz-calc(33% - 21px);
	width: webkit-calc(33% - 21px);
	border-right: 1px solid #EEE;
}

#link-sidebar {
	float: left;
	width: 20%;
	width: calc(150px);
	width: -moz-calc(150px);
	width: -webkit-calc(150px);
}
#link-sidebar .image-link>img {
	max-width: 150px;
	max-height: 150px;
}
#company-main-content {
	float: left;
	width: 80%;
	width: calc(100% - 157px);
	width: -moz-calc(100% - 157px);
	width: -webkit-calc(100% - 157px);
	border-left: 1px solid #DDD;
	padding-left: 5px;
}

.a-btn-radius {

}
.a-btn-text {
	font-weight: bold;
	display: block;
}
.a-btn-slide-text {
	display: block;
	text-indent: 0.5em;
	color: #BBB;
}

.person-profile:not(:last-child) {
	border-right: 1px solid #EEE;
}

.person-profile {
	width: 200px;
	float: left;
}
.person-profile>img {
	max-width: 200px;
	max-height: 200px;
}
.person-profile-header {
	font-weight: bold;
	text-align: center;
}
.person-profile-title {
	font-style: italic;
	text-align: center;
}

#blog {
	border-top: 1px solid #DDD;
}
/*Put in upsmart theme*/
.wp-cpl-sc-post {
	border-bottom: 1px solid #DDD;
}
.wp-cpl-sc-post h2 {
	font-size: 16pt;
	line-height: 20pt;
	margin: 0.3em 0;
}
.wp-cpl-sc-post h2 a {
	color: #666;
}
.wp-cpl-sc-post h2 a:hover {
	color: #444;
}
.wp-cpl-sc-meta {
	font-style: italic;
}